.Tilt {
  background: linear-gradient(#4065a4, #d0aea7);
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}

.Tilt-inner img {
  width: 100px;
}
